body {
        /* font-family: "Helvetica Neue"; */
        font-family: 'Univers LT Pro', sans-serif;
        font-size: 14px;
        text-align:justify;
        text-rendering: optimizeLegibility;
        resize: both;/*
        transform: translate(75%,75);*/
        height:100%;
        width:100%;
        background-color: white;
}


    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

   #writing iframe {
        display: block;
        width: 110%; 
        height: 100%;
        text-align:left/*
        margin-right:10%;*/
        border: none;
    }

    div.container {
        height: 100%;
        width: 80%;
        border: none;
        resize: both;
    }

 #intro{ height: 100%;
        margin:10%;
        text-align: justify;
        width: 80%;
        border: none;
        position:relative;
    }

  #writing{
        height: 100%;
        width: 80%;
        border: none;
        margin:10%;
        color:grey;
        text-align: center;
        position:relative;
    }

    #footer{
        margin-top:5%;
        height:30%;
        width:100%;
        text-align: center;
        position:relative;
    }
    #title {
        height: 90%;
        text-align: center;
        width: 80%;
        margin-left:10%;
        margin-right:10%;
        background-image:  url("usa48mer.gif"), url("aus-map.gif");
        background-position: left, right;
        background-repeat: no-repeat;
        position:relative;

    }

    #chart {
        display: block;
        height: 100%;
        width: 75%;
        border: none;/*
        position: fixed;*/
        /*left:750px;*/
    }


    div.australia {
        color: grey;
        display: inline;
        resize: both;
    }

    div.usa {
        color: grey;
        display: inline;
        resize: both;
    }


    circle {
        stroke-width: 1;
    }

    circle.usa {
        fill: rgb(0, 157, 227);
        opacity: 0.8;
    }

    circle.australia {
        fill: rgb(237, 27, 53);
        opacity: 0.8;
    }

    circle:hover {
        stroke-width: 3;
        stroke: white;
    }

    line.grid {
        stroke: #eee;
    }

    line.between {
        stroke: black;
    }

    line:hover {
        stroke-width: 3;
        stroke: black;
        line-height: 2;
    }


    .axis path,
    .axis line {
        fill: none;
        stroke: none;
        shape-rendering: crispEdges;
    }


    .d3-tip {
        line-height: 1;
        /*font-weight: bold;*/
        padding: 8px;
        max-width: 500px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 1px;
    }
    /* Creates a small triangle extender for the tooltip */

    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 8px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: justify;
    }
    /* Style northward tooltips differently */

    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    p{
        width: 15em;
        border: none
    }


    a:link {
        color: gray;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: gray;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: blue;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: gray;
        background-color: transparent;
        text-decoration: underline;
    }

#sections{
  width: 25%;
  margin-left:10%;
}

#container svg{
    background:grey;
}
#sections > div{
  background: white;
  opacity: .2;
  margin-bottom: 10%;
}
#sections > div:last-child{
  margin-bottom: 30px;
}
#sections > div.graph-scroll-active{
  opacity: 1;
}
#graph{
  margin-left: 5%;
  width: 75%;
  position: absolute;
  top: 0px;
  margin-right:10%;
}
.graph-scroll-fixed #graph{
  position: fixed;
  top: 100px;
}
.graph-scroll-below #graph{
  bottom: 0px;
  top: auto;
}
@media (max-width: 925px)  {
  #graph{
    width: 100%;
    transform: translate(-50%, 0);
    margin-left: 50%;
  }
  #sections{
    position: relative;
    margin: 0px auto;
    padding-top: 20%;
  }
  #sections div{
    background: rgba(255,255,255,.5);
    padding: 5%;
    border: 1px solid;
    max-width: 25%;
    margin-bottom: 10%;
  }
}
